<% include ./partials/header %>

    <% if (msg != null) { %>
        <div class="alert alert-danger">
            <%= msg %>
        </div>
        <% } %>

            <% if (filme != null) { %>
                <div class="row" style="padding: 0px;">
                    <div class="col-md-6">
                        <img style="max-height: 780px;max-width:100%;display:block;" src="http://image.tmdb.org/t/p/w780<%= filme.poster_path %>">
                    </div>
                    <div class="col-md-6">
                        <h2><%= filme.title %></h2>
                        <br/>
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-md-6"><i class="far fa-minus-square"></i></div>
                            <div class="col-md-6" 
                            style="text-align: right;"><i class="far fa-plus-square"></i></div>
                        </div>
                        <div class="card mb-3">
                            
                            <div class="card-header progress-bar progress-bar-striped progress-bar-animated bg-info"
                            role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                            style="width: 35%;"><output style="font-weight: 800;color: #eee;">50%</output></div>

                            <h5 class="card-header">Sinopse</h5>
                            <div class="card-body">
                                <div class="card-text alert alert-info"><%= filme.overview %></div>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <% genres.forEach(function(genre) { %>
                                        <% if (genresFilme.indexOf(genre.genero_id) != -1) { %>
                                            <% if (genre.genero_id == 878) { %>
                                                <span class="badge badge-primary"><%= genre.nome %></span>
                                            <% } else { %>
                                                <span class="badge badge-secondary"><%= genre.nome %></span>
                                            <% } %> 
                                        <% } %>
                                    <% }) %>
                                </li>
                                <li class="list-group-item">Duração: <%= filme.runtime %> | Lançamento em <%= filme.release_date %>
                                 </li>
                                <li class="list-group-item">Popularidade: <%= filme.popularity %>
                                | IMDB: <%= filme.vote_average %></li>
                                <li class="list-group-item">Dirigido por <strong><%= production.crew[0].name %></strong></li>
                            
                                <li class="list-group-item">
                                    <smal>Use a escala para votar.</smal>
                                    <button type="button" id="btnVoto" data-toggle="modal" data-target="#modalVoto" class="btn btn-primary btn-lg btn-block">Votar</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="modal" id="modalVoto" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Votar</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                    <form action="/computar/<%= filme.id %>" method="post" class="form-group" style="padding: 10px;">
                                        <smal>Entre com seu login e senha para votar</smal>
                                        <input class="form-control form-control-sm" name="email" style="margin-bottom: 10px; margin-top: 10px;" type="email" placeholder="Email">
                                        <input class="form-control form-control-sm" name="senha" style="margin-bottom: 10px;" type="password" placeholder="Password">                                
                                        <div class="range range-info">
                                                <input type="range" name="range" min="1" max="100" value="50" onchange="rangeInfo.value=value">
                                                <output id="rangeInfo">50</output>
                                        </div>
                                        <hr />
                                        <smal>Ainda não é cadastrado? <a href="/registro">cadastre-se aqui.</a></smal>
                                

                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Computar voto</button>
                                    </form>
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                          </div>
                        </div>
                </div>

           
                